<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApp1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <WindowsApp1.My.MySettings>
            <setting name="InputString" serializeAs="String">
                <value>01.000
1.000,21
asdf

0,00 €
0,01 €
0.00
0.02
-1.234.567,89
01 234 567,89-
1 234 567.89
1,234,567.89
1234567,89
1234567.89
123456789
123.456.789
123,456,789
234.567,89
234,567.89
2e2</value>
            </setting>
            <setting name="DecimalSeparator" serializeAs="String">
                <value />
            </setting>
            <setting name="ErrorOnEmpty" serializeAs="String">
                <value>False</value>
            </setting>
        </WindowsApp1.My.MySettings>
    </userSettings>
</configuration>